from flask import Flask, render_template, request, redirect, url_for
from forms import RegisterForm

app = Flask(__name__)
app.config['SECRET_KEY'] = '123456789'

@app.route("/register", methods=['GET', 'POST'])
def register():
    form = RegisterForm()
    if form.validate_on_submit():
        name = form.name.data
        email = form.email.data
        password = form.password.data
        
        # Add code to save user data to database here
        
        return redirect(url_for('login'))
    return render_template('register.html', form=form)